<head th:fragment="common_head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="icon" th:href="@{/img/logo-pill.png}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link th:href="@{/css/header.css}" rel="stylesheet" >
    <link th:href="@{/css/footer.css}" rel="stylesheet" >
    <link th:href="@{/css/index.css}" rel="stylesheet" >
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link th:href="@{/css/registration.css}" rel="stylesheet">
    <link th:href="@{/css/owner.css}" rel="stylesheet" >
    <link th:href="@{/css/find-page.css}" rel="stylesheet" >

    <script th:src="@{'https://api-maps.yandex.ru/2.1/?apikey=' + ${@environment.getProperty('yandex.api.key')} + '&lang=ru_RU'}" type="text/javascript"></script>
    <script defer th:src="@{/js/script.js}"></script>
    <script defer th:src="@{${@environment.getProperty('ajax.link')}}"></script>
<!--    <script defer th:inline="javascript" th:src="@{/js/placemark-map.js}"></script>-->

</head>

<header th:fragment="header_index">
    <a th:href="@{/}">
        <img class="img_logo" alt="" th:src="@{/img/logo-pill.png}">
    </a>
    <div class="header_title">Recipe In Your Pocket</div>
    <div class="header_log">
        <a th:href="@{/login}">
            <button class="button_log">login</button>
        </a>
    </div>
</header>

<header th:fragment="header_owner">
    <a th:href="@{/}">
        <img class="img_logo" alt="" th:src="@{/img/logo-pill.png}">
    </a>
    <div class="header_title">Recipe In Your Pocket</div>
    <div class="header_log">
        <a th:href="@{/login}">
            <button class="button_log">logout</button>
        </a>
    </div>
</header>
